:root {
  --light-grey: #f5f6f7;
  --dark-blue: #1b1b32;
  --vs-grey: #282D35;
  --orange: #f1be32;
  --eggshell: #F0EAD6;
}

#container {
    display: grid;
    grid-template-columns: 50px repeat(10, 200px);
    grid-template-rows: repeat(11, 30px);
  }
  
  .label {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }

  /* functionality to have a dark mode vs light mode based on system preferences */
@media (prefers-color-scheme: dark) {
    body {
      background-color: var(--vs-grey);
      color: var(--light-grey);
    }
  }
  
  /* Light mode styles */
  @media (prefers-color-scheme: light) {
    body {
      background-color: var(--eggshell);
      color: var(--dark-blue);
    }
  }
