@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&display=swap');

* {
  background-color: #fff7e6;
}

html {
  font-size: 80%;
}

body{
  font-family: Caveat, arial, sans-serif;
  position: relative;
  top: 50px; 
  margin: 0 10vw 10vh 10vw;
  /* border: 1px solid black; */
}

header{
  display: inline-flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 10px double tan;
  /* border: 1px solid black; */
}

img {
  width: 6em;
  margin-left: 20px; 
}

#logo {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  width: 60vw;
  /* border: 1px solid black; */
  
}

#logo_name {
  margin-left: 10px;
  font-size: 3em;
  /* border: 1px solid black; */
}

ul {
  list-style: none;
}

#nav-bar>ul{
  display: inline-flex;
  justify-content: space-evenly;
  margin: 2vw ;
  font-size: 2.5em;
  width: 40vw;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: green;
}

.form, .video, .pricing, .footer {
  position: relative;
  top: 60px;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* border: 1px dashed black; */
  
}

.form h1{
  font-size: 2.8em;
}

#email {
  width: 25rem;
  height: auto;
  background: white;
  border-radius: 5px;;
}

#submit:hover {
  background-color: blue;
  color: white;
}

#submit {
  width: 10%;
  height: 5%;
  margin-top: 5px;
}



#services {
  /* border: 1px dashed black; */
  padding-top: 15vh;
}

#services i {
  font-size: 3.2em;
}

#services h2 {
  font-size: 2.1em;
  margin-left: 30px;
}


#services li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.video {
  /* border: 1px dashed black; */
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  margin-top: -8vh;
  margin-bottom: 5vh;
}

#pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15vh;
}

#pricing div {
  border-radius: 15px;
  width: 300px;
  margin-top: 10vh;
  text-align: center;
  background-color: white;
}

div .silver{
  border: 5px solid silver;
}

div .gold{
  border: 5px solid gold;
}

div .platinum{
  border: 5px solid #e5e4e2;
}

#pricing h2 {
  font-size: 3em;
  margin: 15px 1px -20px 1px;
  /* border: 1px dashed black; */
  background-color: transparent;
}

ul{
  padding-left: 0; 
  background-color: transparent;
}

#pricing li{
  background-color: transparent;
  /* border: 1px dashed black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.price {
  font-size: 2.5em;
  /* border: 1px dashed black; */
  background-color: transparent;

}

footer {
  /* border: 1px solid black; */
}

#footer li{
  display: flex;
  justify-content: end;
  flex-direction: row;
  font-size: 1.8em;
  /* border: 1px dashed black; */
}

footer p{
  font-size: 1.5em;
  display: block;
  /* border: 1px dashed black; */
  text-align: right;
}

@media only screen and (max-width: 500px) {
  #nav-bar>ul {
    display: flex;
    flex-direction: column;
    font-size: 1.5em
  }
  #logo_name {
    font-size: 2em;
  }
  img {
    width: 10vw;
  }

  #services li {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }

  #submit {
    width: 25%;
  }
  
  #video{
    align-self: center;
  }

  #pricing {
    display: flex; 
    flex-direction: column;
  }

  #footer li{
    display: flex;
    padding: 0;
    /* border: 1px solid black; */
  }

  footer ul{
    /* border: 1px solid black; */
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }
  
  footer p{
    text-align: center;
  }
}
