*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-grey: #f5f5f5; /* Soft, clean light grey */
  --dark-blue: #1e3a8a; /* Rich navy blue */
  --vs-grey: #374151; /* Cool, neutral dark grey */
  --orange: #fb923c; /* Bright, vibrant orange */
  --eggshell: #fffaf0; /* Warm off-white eggshell */
  --gold: #facc15; /* Sunny, golden yellow */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.125rem;
  padding: 0 4px;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin: 20px;
}

main {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: clamp(420px, 75%, 450px);
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.input-container label {
  white-space: nowrap;
  word-spacing: -6px;
}

.convert-btn {
  font-size: 12px;
  font-family: inherit;
  background-color: var(--orange);
  height: 2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
}

.number-input{
  font-size: inherit;
  padding: 0.3rem;
  width: 100%;
}

.output-container {
  margin: 0 auto 20px auto;
  width: clamp(420px, 75vw, 450px);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  min-height: 100px;
  margin-block-start: 20px;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  body{
    font-size: 1rem;
  }

  main, 
  .input-container,
  .output-container {
    flex-direction: column;
    width: 55vw;
    min-width: 250px;
  }

  .number-input,
  .convert-btn {
    width: 90%;
  }

  #output {
    font-size: 1.5rem;
    min-height: 80px;
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 1.6rem;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: var(--vs-grey);
    color: var(--eggshell)
  }

  .input-container {
    border: 1px solid var(--dark-blue);
    box-shadow: 0 0 5px 1px  var(--gold);
  }

  #output {
    border: 1px solid var(--dark-blue);
    box-shadow: 0 0 5px 1px  var(--gold);
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--eggshell);
    color: var(--vs-grey)
  }

  .input-container {
    border: 1px solid var(--orange);
    box-shadow: 0 0 5px 1px var(--light-grey);
  }

  #output {
    border: 1px solid var(--dark-blue);
    box-shadow: 0 0 5px 1px  var(--gold);
    visibility: hidden;
  }
}